@import '../../scss/variables.scss';

.ThanksModal {

  .modal-content {
    background-color: $dark-gray;
    font-size: 0.8em;
  } 

  .modal-header, 
  .modal-footer {
    border: none;
  }
  
  .modal-header {
    color: $accent-green;
    font-family: "Poppins";

    > button {
      color: $accent-green;
    }
  }

  .modal-body {
    color: #fff;
  }
}