@import '../../scss/variables.scss';

.PageContentWrapper {
  height: 100vh;
  // mask root bg image
  // background-color: rgba($dark-gray, .9);
  color: #fff;

  .container, .col, .row {
    height: 100%;
  }

  .PageContentWrapper__Content {
    // match middle of image & center horizontal
    margin: 162px auto auto auto !important;

    > h1 {
      font-weight: 700;
      margin-top: 25px;
    }

    .accented {
      color: $accent-green;
    }
  }
}