@import "../../scss/media-queries.scss";
@import '../../scss/variables.scss';

.PageContentWrapper {
  height: 100vh;
  // mask root bg image
  // background-color: rgba($dark-gray, .9);
  color: #fff;

  .container, .col, .row {
    height: 100%;
  }

  .PageContentWrapper__Content {
    > h1 {
      font-weight: 700;
      margin-top: 25px;
    }

    .accented {
      color: $accent-green;
    }

    .big-text {
      font-size: 50px;
      font-weight: 700;
      font-family: 'Poppins','Helvetica Neue','Segoe UI','Helvetica','Arial',sans-serif;
      line-height: 60px;
    }
  }
}

@include respond-above(md) {
  .PageContentWrapper__Content {
    // match middle of image & center horizontal
    margin: 162px auto 0 auto !important;
  }
}

@include respond-between(xs, md) {
  .PageContentWrapper__Content {
    // match middle of image & center horizontal
    margin: 162px auto 0 25px !important;
  }
}

@include respond-below(xs) {
  .PageContentWrapper__Content {
    // match middle of image & center horizontal
    margin: 25px auto !important;
  }
}