@import "../../scss/media-queries.scss";
@import '../../scss/variables.scss';

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.SiteGrid {
  min-height: 100vh;
  max-height: 100%;
  // global 
  min-width: 400px;
  display: grid;
  // side nav takes 25%, content rest
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto 48px;
  grid-template-areas: 
    "siteContent siteNav"
    "siteContent siteFooter";

  background-color: $dark-gray;
  background-image: url('../../images/liquid.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .SiteNav {
    grid-area: siteNav;
    background-color: rgba($dark-gray, .97);

    > .container, .row, .col {
      height: 100%;
    }
  }

  .SiteContent {
    grid-area: siteContent;
    height: 100vh;
    overflow-y: scroll;
    background-color: rgba($dark-gray, .9);
  }

  .SiteFooter {
    grid-area: siteFooter;
  }
}

@include respond-below(sm) {
  .SiteGrid {
    background-color: $dark-gray;
    grid-template-columns: 1fr;
    grid-template-rows: 64px auto 48px;
    grid-template-areas: 
      "siteNav"
      "siteContent"
      "siteFooter";
  }
}