@import '../../scss/media-queries.scss';
@import '../../scss/variables.scss';

.NavMenu__container {
  .NavMenu {
    display: flex;
    justify-content: space-between;
    color: $accent-green;
    padding-top: 15px;

    .NavMenu__small {
      display: flex;
      justify-content: space-between;
      width: 100%;

      #NavMenu__smallHeader {
        font-size: 20px;
        color: #fff;
        margin-top: auto;
        margin-bottom: auto;
      }

      #NavMenu__icon {
        height: 30px;
        width: 30px; 
        color: $accent-green;
        margin-right: -1px;
          
        &:hover {
          cursor: pointer;
        }
      }
    }

    .NavMenu__ImageContainer {
      text-align: center;
      object-fit: contain;
      padding: 50px 0;

      h1 {
        margin-bottom: 0;

        img {
          width: 225px;
          border-radius: 50%;
          animation-duration: 30s;
          animation-name: colorize;
        }
      }
    }

    .NavMenu__links {
      list-style-type: none;
      width: 100%;
      margin-left: -15px;
      padding: 15px;

      &.isOpen {
        display: block;
      }

      li {
        a {
          text-decoration: none;
          color: $lighter-gray;
          margin-bottom: 3em;
          font-size: 20px;
          text-align: center;
          letter-spacing: 1em;
          // vertical alignment compensation for letter spacing
          margin-right: -2em;   
    
          &:hover {
            color: $accent-blue;
          }
        }
      }
    }
  }
}

@include respond-above(sm) {
  .NavMenu {
    height: 100%;
    flex-direction: column;
    justify-content: center;

    #NavMenu__smallHeader, #NavMenu__icon { display: none; }

    .NavMenu__links {
      height: 100%;
      padding-top: 50px;
      text-align: center;
      
      li {
        margin-bottom: 60px;
      }
    }
  }
}

@include respond-below(sm) {
  .NavMenu {
    #NavMenu__smallHeader, #NavMenu__icon { display: inline-block; }
    .NavMenu__ImageContainer { display: none; }

    .NavMenu__links {
      display: none;
      z-index: 10;
      position: absolute;
      top: 64px;
      background-color: $dark-gray;
      border-bottom: 1px solid #fff;

      a:not([aria-current='page']) {
        color: #fff !important;
      }
    }
  }
}

/*  transition image from grayscale to color */
@keyframes colorize {
  from {
    filter: grayscale(100);
  }

  to {
    filter: grayscale(0);
  }
}