@import '../../scss/variables.scss';

.NavMenu {
  height: 100%; 

  .NavMenu__ImageContainer {
    text-align: center;
    object-fit: contain;
    padding: 50px 0;
    
    > img {
      width: 225px;
      border-radius: 50%;
      animation-duration: 30s;
      animation-name: colorize;
    }
  }

  .NavMenu__LinkContainer {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    padding-top: 50px;

    > a {
      text-decoration: none;
      color: $lighter-gray;
      margin-bottom: 3em;
      font-size: 20px;
      text-align: center;
      letter-spacing: 1em;
      // ...except for last char
      margin-right: -1em;
      
  
      &:hover {
        color: $accent-blue;
      }
    }
  }
}

/*  transition image from grayscale to color */
@keyframes colorize {
  from {
    filter: grayscale(100);
  }

  to {
    filter: grayscale(0);
  }
}