@import '../../scss/variables.scss';

.Home {
  min-height: 100%;
  // mask root bg image
  background-color: rgba($dark-gray, .9);
  color: #fff;

  .Home__Content {
    // match middle of image & center horizontal
    margin: 162px auto !important;

    > h1 {
      font-weight: 700;
      margin-top: 25px;
    }

    .accented {
      color: $accent-green;
    }
  }
}