@import '../../scss/variables.scss';

.Footer__Links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  font-size: 16px;
  margin: 0;
  height: 100%;
  background-color: $dark-gray;

  .Links__link, a {
    color: $accent-green;
    margin-bottom: 0;
    line-height: 20px;

    &:hover {
      color: #fff;
    }

    &:last-child {
      cursor: pointer;
      
      &:hover {
        color: #fff;
      }
    }
  }
}