// Fonts handled by typography lib see src/utils/typography

/* 
  Color styles
*/
$dark-gray: #0b0c10;
$lighter-gray: #1f2833;
$dark-blue: #0c0032;

$accent-green: #66fcf1;
$dark-green:  #45a29e;

// analogous blue
$accent-blue: #6f9ed6;

/*
  Breakpoints
*/
$site-max-width: 1200px;
$site-min-width: 320px;